<h3>Edit --> <%= @character.name %> </h3>

  <form action="/characters/<%= @character.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
      <div class="input-field">
        <input id="name" type="text" name="character[name]" value= <%= @character.name %>>
          <label for="name">Character Name</label>
      </div>

      <div class="input-field">
        <input id="weight" type="number" name="character[weight]" value= <%= @character.weight %>>
          <label for="weight">Weight</label>
      </div>

      <div class="input-field">
        <input id="height" type="text" name="character[height]" value= <%= @character.height %>>
          <label for="height">Height</label>
      </div>

      <div class="input-field">
        <select name="character[energy_type]" id="energy_type"> 
          <option><%=@character.energy_type%></option>
          <option>Colorless</option>
          <option>Darkness</option>
          <option>Dragon</option>
          <option>Fairy</option>
          <option>Fighting</option>
          <option>Fire</option>
          <option data-icon="/images/grass.png">Grass</option>
          <option data-icon="/images/lightning.png">Lightning</option>
          <option>Metal</option>
          <option>Psychic</option>
          <option >Water</option>
        </select>      
        <label for="energy_type">Energy Type</label>      
      </div>

      <div class="input-field">
        <select name="character[vip_status]" id="vip_status"%>> 
          <option><%=@character.vip_status%></option>
          <option value="1">Common</option>
          <option value="2">Rare</option>
          <option value="3">Very Rare</option>
        </select>
        <label for="vip_status">VIP Status</label>
      </div>
      

      <div class="input-field">
        <input id="hit_points" type="number" name="character[hit_points]" value= <%= @character.hit_points %>>
          <label for="hit_points">Hit Points</label>
      </div>

      <input type="submit" value="Update Character" class="findbtn">

    </form>

      <script>
        $(document).ready(function(){
          $('select').formSelect();
          });
      </script>